//variables
$grey: #191A1E;
$black: #000000;

//main styles
body {
  background-color: $grey;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
}

h1 {
  color: white;
}

#header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $black;
}

#header-content-one {
  display: flex;
  flex-direction: row;
}

#header-content-one-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  #logo-large {
    height: 28px;
    }
  }

  #header-content-one-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  #header-content-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    i {
        color: white;
        font-size: 30pt;
    }
    img {
      height: 44px;
    }
  }

#header-content-two {
  display: flex;
  flex-direction: row;
}
