//variables
//color pallete
$grey: #191A1E;
$mid-grey: #36383F;
$light-grey: #7A7D8C;
$card-content: #32333B;
$card-author-text: #A5A9B0;
$card-title-text: #FFFFFF;
$black: #000000;
$blue: #09BEFF;
$yellow: #FFDE3E;
$green: #47CF72;
$purple: #AE62E4;

//breakpoints
$break-small: 605px;
$break-medium: 914px;

//fonts
$main-font: 'Catamaran', sans-serif;

//mixins


//styles
body {
  background-color: $grey;
  box-sizing: border-box;
  font-family: $main-font;
  margin: 0px;
}

h1 {
  color: white;
}

#header-container {
  width: 100%;
  min-height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $black;
}

#header-content-one {
  display: flex;
  flex-direction: row;
  margin-left: 28px;
}

#header-content-one-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  #logo-large {
    height: 28px;
    margin-right: 20px;
  }
}

#header-content-one-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  h1 {
    margin-right: 20px;
    border-bottom: 2px solid $black;
  }
  #link-one {
    &:hover {
      border-bottom: 2px solid $blue;
    }
  }
  #link-two {
    &:hover {
      border-bottom: 2px solid $yellow;
    }
  }
  #link-three {
    &:hover {
      border-bottom: 2px solid $green;
    }
  }
  #link-four {
    &:hover {
      border-bottom: 2px solid $purple;
    }
  }
}


#header-content-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 8px;
  & *{
    margin-right: 20px;
  }
  button {
    background-color: $mid-grey;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 24px;;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Catamaran', sans-serif;
    &:hover {
      background-color: lighten($mid-grey, 10%);
    }
  }
  i {
    color: $light-grey;
    font-size: 24pt;
    &:hover {
      color: lighten($light-grey, 10%);
    }
  }
  img {
    height: 44px;
  }

}

#body-container {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1160px;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.body-header-link {
  color: $blue;
  font-size: 20px;
  margin-bottom: -5px;
}

.body-title-row {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  border-bottom: 2px solid $blue;
  margin-left: 10px;
  margin-right: 10px;
}

.cards-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: (100%/3);
  padding: 10px;
  box-sizing: border-box;
}


.card-image {
  max-height:200px;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
  img {
    width: 100%;
    &:hover {
      opacity: .8;
    }
  }
}

.card-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 0px 0px 15px 15px;
  background-color: $card-content;
}

.card-info-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $card-content;
  margin-top: 10px;
  margin-bottom: 10px;
  //hides overflow text
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  img {
    margin-right:20px;
    height: 40px;
    width: 40px;
  }
  .card-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } span {
    background-color: $card-content;
    font-size: 18px;
    margin-top:0px;
    margin-bottom:0px;
  } .card-title {
    color: $card-title-text;
  }
  .card-author {
    color: $card-author-text;
  }
}

.card-info-bottom {
  padding-top: 10px;
  background-color: $card-content;
  border-top: 1px solid $light-grey;
  color: $card-author-text;
  span {
    background-color: $card-content;
  } * {
    margin-right: 4px;
  }
}

//media queries
@media only screen and (max-width: $break-medium) {
  .card {
      width: 50%;
  } #header-content-one-links {
    display: none;
  }
}

@media only screen and (max-width: $break-small) {
  .card {
      width: 100%;
  } #bell-icon {
    display: none;
  }
}
